* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --white: #fff;
    --black: #000;
    --bodybg: #F5F6F7;
    --inputbckg: #f9f9f9;
    --normSize: 1rem;
    --head1Size: 25px;
    --head2Size: 3rem;
    --head3Size: 2rem;
    --head4Size: 1.5rem;
    --fontFamily: 'Inter', 'poppins', sans-serif;
}

body {
    font-size: clamp(0.95rem, 2vw, 1rem);
    font-weight: 400;
    background: var(--bodybg);
}

h1,
h2,
h3 {
    font-family: var(--fontFamily);
}

h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 700;
}

h2 {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 600;
}

h3 {
    font-size: clamp(0.75rem, 3vw, 1rem);
    font-weight: 500;
}

body {
    font-size: clamp(0.95rem, 2vw, 1rem);
    font-weight: 400;
    background: var(--bodybg);
}

.small-text {
    font-size: clamp(0.85rem, 1.5vw, 0.875rem);
    font-weight: 400;
}

/* Header Start */
header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    width: 100%;
    background: var(--bodybg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure header stays above other elements */
    font-family: var(--fontFamily);
    padding: 30px;
}

#headLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 20px;
    text-decoration: none;
    color: inherit;
}

#headLogo:hover {
    color: var(--primary-color);
    transition: color 0.3s ease;
}

header #headLogo img {
    width: 40px;
    transform: scaleX(-1);
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: var(--black);
    font-size: var(--normSize);
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: var(--primary-color);
}

/* Header End */

/* Footer Start */
footer {
    background: var(--black);
    color: var(--white);
    padding: 20px;
    text-align: center;
    font-family: var(--fontFamily);
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer nav {
    display: flex;
    gap: 15px;
}

footer nav a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--normSize);
    transition: color 0.3s ease;
}

footer nav a:hover {
    color: var(--primary-color);
}

/* Footer End */