{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/add_job.css' %}">
    <!-- Script responsible for pre-display queries -->
    <script src="{% static 'scripts/preDisplayScript.js' %}"></script>
    <!-- <script src="{% static 'scripts/addJob.js' %}" defer></script> -->
</head>

<body>
    <div class="headcontainer">
        <!-- header fetched from js -->
    </div>
    <a href="" class="back-button">
        ← Back to Dashboard
    </a>
    <div class="container">
        <h2>Add Job</h2>

        <form class="job-form" id="jobForm" method="post" action="{% url 'add_job' %}" enctype="multipart/form-data">
            <label for="title">Job Title</label>
            <input type="text" id="title" name="title" required>
            {% if errors.title %}
                <div class="errorMsg">{{ errors.title }}</div>
            {% endif %}

            <label for="jobImg">Upload Image</label>
            <div class="file-upload">
                <label for="jobImg" class="upload-btn">Browse Files</label>
                <span id="file-name">No file selected</span>
                <input type="file" id="jobImg" accept="image/*" hidden name="img">
            </div>

            <label>Available Countries</label>
            <div class="country-container">
                {% for country in countries %}
                    <label><input type="checkbox" value="{{ country }}" name="country">{{ country }}</label><br>
                {% endfor %}

            </div>


            <label for="job_type">Job Type</label>
            <select id="job_type" name="type" required>
                {% for type in jobTypes %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
            {% if errors.type %}
                <div class="errorMsg">{{ errors.type }}</div>
            {% endif %}


            <label for="workplace">Work Mode</label>
            <select id="workplace" name="workplace" required>
                {% for place in workplace %}
                    <option value="{{ place }}">{{ place }}</option>
                {% endfor %}
            </select>
            {% if errors.workplace %}
                <div class="errorMsg">{{ errors.workplace }}</div>
            {% endif %}

            <label for="level">Experience Level</label>
            <select id="level" required name="level">
                {% for level in career_level %}
                    <option value="{{ level }}">{{ level }} Level</option>
                {% endfor %}
            </select>
            {% if errors.level %}
                <div class="errorMsg">{{ errors.level }}</div>
            {% endif %}

            <label for="experience">Years of Experience</label>
            <input type="number" id="experience" min="0" name="experience" placeholder="e.g. 2" required>
            {% if errors.experience %}
                <div class="errorMsg">{{ errors.experience }}</div>
            {% endif %}

            <label for="salary">Salary</label>
            <input type="text" id="salary" name="salary" placeholder="$3000/month" required>
            {% if errors.salary %}
                <div class="errorMsg">{{ errors.salary }}</div>
            {% endif %}

            <label for="category">Job Category</label>
            <input type="text" id="category" name="category" placeholder="e.g. IT/Software Development" required>
            {% if errors.category %}
                <div class="errorMsg">{{ errors.category }}</div>
            {% endif %}


            <label for="tags">Tags</label>
            <input type="text" id="tags" name="tags" placeholder="e.g. Customer Service, Backend, APIs">

            <label for="description">Job Description</label>
            <textarea id="description" name="description" rows="4" required></textarea>
            {% if errors.description %}
                <div class="errorMsg">{{ errors.description }}</div>
            {% endif %}

            <button type="submit">Save Job</button>
        </form>

    </div>
    <footer>
        <!-- Fetched from footer.html -->
    </footer>
    <script src="{% static 'scripts/available_jobs.js' %}"></script>

</body>

</html>