{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/contact.css' %}">
        <!-- Script responsible for pre-display queries -->
        <script src="{% static 'scripts/preDisplayScript.js' %}"></script>
        <script type="module" src="{% static 'scripts/contact.js' %}"></script>
    </head>

    <body>
        <div class="headcontainer">
            <!-- header fetched from js -->
        </div>

        <section class="contact">
            <div class="contact-content">
                <h1>Contact Us</h1>
                <p>We'd love to hear from you! Fill out the form below to get in
                    touch.</p>
                <form class="contact-form" novalidate>
                    <input type="text" placeholder="Your Name" required>
                    <input type="email" placeholder="Your Email" id="contact-email" required>
                    <div class="error-message" id="contact-email-error"></div>
                    <textarea placeholder="Your Message" rows="5"
                        required></textarea>
                    <button type="submit" class="btn-primary">Send
                        Message</button>
                </form>
            </div>
        </section>

        <footer>
            <!-- Fetched from footer.html -->
        </footer>
    </body>

</html>