{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Details - {{ job.title }} </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/job-details.css' %}">
    <!-- Script responsible for pre-display queries -->
    <script src="{% static 'scripts/preDisplayScript.js' %}"></script>
    <script src="{% static 'scripts/jobDetails.js' %}" defer></script>
</head>

<body>
    <div class="headcontainer">
        <!-- header fetched from js -->
    </div>

    <!-- Add a hidden element to preload user data -->
    <script id="preload" type="application/json">
      {{ user_data|safe }}
    </script>

    <main class="job-details">
        <div class="job-detail">

            <!-- Job Title and Logo -->
            <div class="job-title-logo-container">

                <div class="job-title-container">
                    <h1 class="job-title" id="jobTitle">{{ job.title }}</h1>
                </div>

                <div class="job-logo-container">
                    <img src="{{ job.logo.url }}" alt="Company Logo" class="new-logo-img" id="jobLogo" />
                </div>

            </div>

            <!-- Job Info Section -->
            <div class="info-card-container">
                <p><strong>Job Information</strong></p>

                <div class="info-card">
                    <strong class="strong">Company:</strong>
                    <span id="jobCompany">{{ job.added_by.company_name }}</span>
                </div>

                <div class="info-card">
                    <strong class="strong">Posted:</strong>
                    <span id="jobPosted">{{ job.post_date }}</span>
                </div>

                <div class="info-card">
                    <strong class="strong">Job Type:</strong>
                    <span id="jobType">{{ job.job_type }}</span>
                </div>

                <div class="info-card">
                    <strong class="strong">Workplace:</strong>
                    <span id="jobWorkplace">{{ job.workplace }}</span>
                </div>

                <div class="info-card">
                    <strong class="strong">Career Level:</strong>
                    <span id="jobCareerLevel">{{ job.career_level }}</span>
                </div>

                <div class="info-card">
                    <strong class="strong">Experience Required:</strong>
                    <span id="jobExperience"> {{ job.experience }}+ years</span>
                </div>

                <div class="info-card">
                    <strong class="strong">Salary:</strong>
                    <span id="jobSalary">${{ job.salary }}</span>
                </div>

                <div class="info-card">
                    <strong class="strong">Status:</strong>
                    <span id="jobStatus">
                        {% if job.status %}
                        Open
                        {% else %}
                        Closed
                        {% endif %}
                    </span>
                </div>

                <div class="info-card">
                    <strong class="strong">Created By:</strong>
                    <span id="jobCreatedBy">{{ job.added_by.username }}</span>
                </div>

            </div>

            <!-- Job Description -->
            <div class="job-description-container">
                <p><strong>About the job</strong></p>
                <div class="job-description" id="jobDescription">
                    {% for line in description_lines %}
                    {% if line %}
                    {% if line == "Key Responsibilities:" or line == "Required Skills:" %}
                    <strong>{{ line }}</strong>
                    <ul>
                        {% elif line|slice:":1" == "-" %}
                        <li>{{ line|slice:"1:" }}</li>
                        {% if forloop.last %}
                    </ul>
                    {% endif %}
                    {% else %}
                    <p>{{ line }}</p>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Job Tags -->
            <div class="job-tags" id="jobTags">
                <strong>Tags :</strong>
                {% for tag in job.job_tags.all %}
                <span>{{ tag.tag }}</span>
                {% endfor%}
            </div>

            <!-- Action Buttons -->
            <a href="/pages/apply.html?job_id={{ job.id }}" class="btn apply-btn" id="applyNowBtn">Apply Now</a>
            <a href="/pages/edit_job.html?job_id={{ job.id }}" class="btn apply-btn">Edit Now</a>
        </div>
    </main>

    <footer>
        <!-- Fetched from footer.html -->
    </footer>
</body>

</html>