* {
  font-family: var(--fontFamily);
}

.apply-container {
  max-width: 900px;
  margin: 8rem auto 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}


.apply-container h1 {
  text-align: center;
  font-size: var(--head2Size);
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.apply-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.apply-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: var(--normSize);
}

.job-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(black);
  margin-bottom: 1.5rem;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 5px;
}

.upload-btn {
  padding: 10px 16px;
  background-color: var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s ease;
}

.job-form .upload-btn {
  color: white;
}


.upload-btn:hover {
  background-color: #2c80b4;
}

#file-name {
  font-size: 14px;
  color: #666;
}

.apply-form input,
.apply-form textarea {
  margin-top: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: var(--fontFamily);
  font-size: 1rem;
  background-color: #f9f9f9;
  width: 100%;
}

.apply-form textarea {
  resize: vertical;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.apply-form button {
  padding: 0.9rem 2rem;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-form button:hover {
  background-color: #2b8bc6;
}


@media (max-width: 768px) {
  .account-info form {
    grid-template-columns: 1fr;
  }

  .profile-header {
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    text-align: center;
  }
}